$ship-sector-zise: 20px;

.player-panel-constainer {
    .control {
        padding-top: 30px ;
        .ready {
            background-color: rgb(41, 169, 208);
            border: 2px solid rgb(0, 121, 213);
            
            height: 40px;
            width: 100px;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            box-shadow: 0 5px #999;
            margin: 10px 0px;
            &:hover {
                background-color: rgba(41, 169, 208, 0.8);
            }
            &:active {
                background-color: rgba(41, 169, 208, 0.8);;
                box-shadow: 0 2px #666;
                transform: translateY(4px);
            }
        }
    }
    .ships {
        &>div {
            &>* {
                border: 1px solid gray;
                margin: 5px;
            }
            display: flex;
            .ship4 {
                width: calc(4 * #{$ship-sector-zise});
                height: $ship-sector-zise;
            }
            .ship3 {
                width: calc(3 * #{$ship-sector-zise});
                height: $ship-sector-zise;
    
            }
            .ship2 {
                width: calc(2 * #{$ship-sector-zise});
                height: $ship-sector-zise;
    
            }
            .ship1 {
                width: calc(1 * #{$ship-sector-zise});
                height: $ship-sector-zise;
    
            }
        }
        
    }
}